.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: inherit;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Observations-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: inherit;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card-img-top {
  width: 30vh;
  height: 15vw;
  object-fit: cover;
  background-color: darkgrey;
}

.card-dataproduct {
  display: flex;
  object-fit: cover;
  background-color: lightgrey;
}

.card-query {
  display: inline;
  align-items: flex-start;
  justify-content: inherit;
  background-color: lightgrey;
}